.role p {
    padding: 0px 50px 50px 50px;
  }
  .role{
    margin-top: 10%;
  }
  
  .role-content {
    text-align: center;
    font-size: 25px;
  }
  .role-content p{
    width: 80%;
    text-align: justify;
    margin-left: 5%;
  }
  
  .planning {
    background-color: rgb(4, 59, 4);
    width: 17%;
    color: white;
    margin-left: 40%;
    text-align: center;
    border-radius: 100%;
  }
  
  .planning p {
    padding: 0px 50px 50px 50px;
  }
  
  .role img {
    margin-top: 5%;
    width: 30%;
    height: auto;
  }
  
  .testing-cleaning {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
  }
  
  .testing-cleaning .testing,
  .testing-cleaning .cleaning {
    background-color: rgb(4, 59, 4);
    width: 18%;
    color: white;
    text-align: center;
    border-radius: 100%;
  }
  
  /* Media Queries */
  @media (max-width: 1600px) {
    .role-content {
      font-size: 20px;

    }
    .role{
        margin-top: 35%;
      }
   .planning {
    background-color: rgb(4, 59, 4);
    width: 20%;
    color: white;
    margin-left: 30%;
    text-align: center;
    border-radius: 100%;
  }
    .planning,
    .testing-cleaning .testing,
    .testing-cleaning .cleaning {
      width: 40%;
    }
  
    .role img {
      width: 50%;
    }
  
  }
  @media (max-width: 768px) {
    .role-content {
      font-size: 20px;
    }
    .role{
        margin-top: 60%;
      }
    .planning {
      background-color: rgb(4, 59, 4);
      width: 10%;
      height: 50vh;
      color: white;
      margin-left: 16%;
      text-align: center;
      border-radius: 100%;
    }
    .planning,
    .testing-cleaning .testing,
    .testing-cleaning .cleaning {
      width: 70%;
      height: 50vh;
    }
  
    .role img {
      width: 35%;
    }
  }
  
  @media (max-width: 480px) {
    .role-content {
      font-size: 18px;
    }
    .role{
        margin-top: 75%;
      }
    .planning {
      background-color: rgb(4, 59, 4);
      width: 20%;
      color: white;
      margin-left: 10%;
      text-align: center;
      border-radius: 100%;
    }
    .planning,
    .testing-cleaning .testing,
    .testing-cleaning .cleaning {
      width: 90%;
    }
  
    .role img {
      width: 70%;
    }
  }
  