
    .footer {
      background-image: url(/public/images/footer1.jpeg);
      color: white;
      padding: 18px 0;
      background-position: 0;
      background-repeat: no-repeat;
       background-size: cover; 
      background-size: 100% 100%; 
      opacity: 0.9;
      margin-top: 5%;
      font-size: larger;
      font-weight: 900;
      font-family: 'Nunito';
      bottom: 0;
      position: fixed;
    
      left: 0;
      width: 100%;
      gap: 15%;
    
    
      max-height: 200px;
  
  
  font-family: 'Nunito', sans-serif;
     
      width: 100%;
    }
    .footer-menu {
      list-style: none;
      padding: 1px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    .footer-menu li {
      margin-right: 50px;
    }
   
    .footer-menu img {
      width: 25%;
      margin-left: 25%;
    }
    .footer-menu a {
      color: white;
      text-decoration: none;
      transition: color 0.3s ease;
      font-family: 'Nunito';
      font-size: 30px;
    }
    .footer-menu p {
      font-size: 20px;
    }
    .footer2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10%;
    }
    .icons{
      margin-left: 25%;
    }
    .footer-menu .connect {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    /* 8************************************************** */
    
    @media(max-width:1341){
      .footer-menu img {
        width: 100%;
        
     
      }
    }
    @media (max-width: 768px) {
      .footer-menu {
        grid-template-columns: repeat(4, 1fr);
        font-size: 20px;
      } overflow: hidden;
      .footer-menu li {
        margin-right: 20px;
  
      }
      .footer-menu img {
        width: 100%;
        /* margin-left: 10px; */
      }
      .footer-menu a {
        font-size: 17px;
      }
      .footer-menu p {
        font-size: 16px;
      }
      .footer-menu li img{
        height: 20px;
        width: 15px;
      }
      .footer2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
      }
    }
    @media (max-width: 480px) {
      .footer-menu {
        margin-top: 75%;
        grid-template-columns: 1fr;
        text-align: center;
      }
      .icons{
        margin-left: 5%;
        margin-bottom: 35%;
        margin-top: -3%;
      }
      .footer-menu li {
        margin-right: 0;
        margin-bottom: 10px;
      }
      .footer-menu img {
        width: 100%;
        margin-left: 0;
      }
      .footer-menu a {
        font-size: 18px;
      }
      .footer-menu p {
        font-size: 14px;
      }
      .footer2 {
        flex-direction: column;
        gap: 5%;
      }
   
    }
  
   
    @media (max-width: 425px) {
      .footer-menu {
        background-size: cover; 
        font-size: 8px; 
        margin-top: 0; 
        width: 100%;
        height: auto; 
        text-align: center; 
      }
      .footer2 {
        font-size: 8px;
        margin-top: 0; 
        width: 100%;
        text-align: center;
      }
      .footer-menu img {
        width: 10%; 
        margin-left: 20%; 
       
      
      }
    
    }

    @media (max-width: 1024px) {
   
    .body{
      overflow: hidden;
    }
    .footer-menu {
      background-size: cover; 
      font-size: 8px; 
      margin-top: 0; 
      width: 100%;
      height: auto; 
      text-align: center; 
    }
    .footer{
      overflow: hidden;
    }
    button{
      margin-left: 23%;
    }
    .footer2 {
      font-size: 8px;
      margin-top: 0; 
      width: 100%;
      text-align: center;
    }
    .footer-menu img {
      width: 10%; 
      margin-left: 20%; 
     
    
    }
  
  }
  
