.team-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6%;
  flex-wrap: wrap;
  margin: 0% 5% 0% 5%;
}
.team-container img {
  width: 100%;
  height: 28vh;
  border-radius: 10px;
}
.team-member {
  position: relative;
  overflow: hidden;
}
.team-member .img-menu {
  width: 100%;
  height: auto;
  border-radius: 30px;
  transition: opacity 0.3s;
}
.team-member:hover .img-menu {
  opacity: 0.3;
}
.member-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  cursor: pointer;
  border-radius: 40px;
  background: rgba(59, 189, 8, 0.5);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.team-member:hover .member-info {
  opacity: 1;
}
.linkedin-icons{
  color: black;
}
.team_title h1 {
  color: #2DCD1F;
  font-size: 60px;
  text-align: left;
  margin-left: 6%;
}
@media screen and (max-width: 1030px){
  .team-member .img-menu {
      border-radius: 10px;
    }
}
@media screen and (max-width: 768px) {
.team-content {
  /* display: grid; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
    /* grid-template-columns: repeat(1fr); */
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 480px) {
.team-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
    /* grid-template-columns: 1fr; */
    margin-bottom: 40%;
  }
.team-container img {
    height: 20vh;
  }
.team-member .img-menu {
    border-radius: 20px;
  }
.team-member .member-info {
    border-radius: 20px;
  }
.team_title h1 {
    font-size: 40px;
  }
}