
  .Navbar {
    display: flex;
    align-items: center;
    gap: 5%;
    color: black;
  }
  
  .nav-items {
   
    display: flex;
    align-items: center;
    text-decoration: none;
  justify-content: space-between;
    width: 100%;
    color: black;
    /* padding: 30px */
  }
  body {
    color: #000;
  }
  .Navbar .nav-items a{
    text-decoration: none;
    color: black;
   
    font-family: 'Gabriela', serif;

  }
  .Navbar .nav-items a:hover{
    cursor: pointer;
    text-decoration: underline 3px #2DCD1F;
    transition: .4s;
  }
  .Navbar .nav-items {
    font-size: 20px;
    margin-right: 6%;
    width: 90%;
    font-family: 'Gabriela', serif;
    color: black;
  }

 
  .Navbar img {
    width: 18%;
    margin-right: 20%;
    margin-left: 18%;
  }
  /* *************************** */
 
  

   button {
   
   padding: 5px 15px 5px 15px;
   margin-right: -10%;
 

    font-size: 18px;
    border-radius: 15px;
    border: solid 1px #2DCD1F;
    background-color: transparent;
    color: #2DCD1F;
  }
  button:hover {
    background-color: #2DCD1F;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
    transition: .1s;

  }

  @media (max-width: 280px){
    .Navbar > .nav-items > a {
    gap: 10%;
    font-size: 16px;
    display: grid;
    grid-template-columns: 50px 50px;
    margin-left: -10px;
  
    }
    .logo{
      height: 30;
    }
    .button{
      margin-left: 50%;
    }
  }
    @media (max-width: 375px){
      .Navbar > .nav-items > a {
      gap: 10%;
      font-size: 16px;
      display: grid;
      grid-template-columns: 50px 50px;
    
      }
      .logo{
        height: 30;
      }
      .button{
        margin-left: 50%;
      }
  }
  @media (max-width: 540px){
     .Navbar > .nav-items > a {
    gap: 10%;
    font-size: 16px;
    display: grid;
    grid-template-columns: 50px 50px;
    margin-left: -7%;
  
    } 
    .Navbar img {
      width: 15%;
      margin-right: 5%;
      margin-left: 1%;
    }
    .logo{
      height: 30;
    }
    .button{
      margin-left: 40%;
    }
  }

  @media (max-width: 768px){
    .Navbar > .nav-items > a {
    gap: 10%;
    font-size: 16px;
    display: grid;
    grid-template-columns: 50px 50px;
  
    }

  }

  @media (max-width: 820px){
    .Navbar > .nav-items > a {
   
    gap: 10%;
    font-size: 16px;
    /*  */
  
    }
    body{
     
    }
    

  }
  @media (max-width: 700px) {
    .Navbar img {
      width: 15%;
      margin-right: 20%;
      margin-left: 3%;
    }
    .Navbar > .nav-items > a:hover {
      color: #fff;
    }
    .Navbar > .nav-items > a::before {
      background:  #fff;
    }
    .logo {
      margin:3%;
    }
    button{
      margin-left: 8%;
     
    }
    .nav-items a{
      margin-top: 2%;
      gap: 5%;
      padding: 10px;
      margin-right: 60%;
      

    }
    .Navbar > .nav-items {
      
      position: absolute;
      top: 4.5em;
      display: flex;
      flex-direction: column;
     
      left: 0;
      width: 100%;
      height: 30%;
      transform: translateX(-100%);
      
      /* transition: all .45s; */
    }
    .Navbar > .nav-items > a {
      padding: 3px;
      margin-left: 2;
  
    }
    .Navbar > .nav-items > a::before {
        background: transparent;
    }
    .Navbar > .nav-items.open {
        transform: translateX(0);
    }
    .Navbar > .nav-toggle {
      display: flex;
      width: 140px;
      height: 100px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .nav-toggle > .bar {
      position: relative;
      width: 32px;
      height: 2px;
      background: #2DCD1F;;
      transition: all 0.45s ease-in-out;
    }
    .nav-toggle > .bar::before,
    .nav-toggle > .bar::after {
      content: "";
      position: absolute;
      height: 2px;
      background:#2DCD1F;
      border-radius: 2px;
      transition: all 0.45s ease-in-out;
    }
    .nav-toggle > .bar::before {
      width: 32px;
      transform: translateY(-8px);
      right: 0;
    }
    .nav-toggle > .bar::after {
      width: 32px;
      transform: translateY(8px);
    }
    .nav-toggle.open > .bar {
        transform: translateX(-40px);
        background: transparent;
    }
    .nav-toggle.open > .bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }
    .nav-toggle.open > .bar::after {
      transform: rotate(-45deg) translate(26px, 26px);
    }
    .button{
     margin-right: 110%;
     margin-top: 15px;
    }
  }
  @media (max-width: 820px){
    .nav-items{
      margin-right: 1em;
    }
    .nav-items a{
      /* margin-right: 1em; */
      /* margin-left:20%; */
    }
    
  }
  
    @media (min-width: 1024px) {
      .nav-items {
        width: 90%; 
      }
      button {
        margin-right: 0; 
      }
      .body{
        overflow: hidden;
      }
      .Navbar{
        width: 100%;
      }
    }
    
  
  
  
  
  
  
  
  
  
