.slides img {
  width: 100vw;
  height: 80vh;
}
.contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 35px;
  color: white;
}
.contents h1 {
  font-style: bold;
  font-size: 50px;
  font-weight: 800;
  border-radius: 15px;
  background-color: wheat;
  color: black;
  padding: 9px;
}
.slideshow {
  position: relative;
  background-color: rgba(0, 255, 0, 0.5);
  opacity: 0.5;
  height: 80vh;
  overflow: hidden;
}
/* Media Queries */
@media (max-width: 768px) {
  .contents {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 35px;
    color: white;
  }
  .slideshow {
    background-position: center;
    margin-top: 10%;
  }
  .contents h1 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .contents {
    font-size: 20px;
  }
  .contents h1 {
    font-size: 30px;
  }
}