.home-content {
    perspective: 1000px;
    
    
    
  }
  .home-content h1 {
    position: absolute;
    margin-top: -20%;
    font-size: 40px;
    color: white;
    width: 30%;
    margin-left: 6%;
    z-index: 1;
  }
  .home-content img {
    width: 100vw;
    height: 60vh;
    transform: translateZ(-50px);
    object-fit: cover;
    border-radius: 20px;
  }
  .why {
    background-color: wheat;
    margin: 2%;
    color: black;
    border-radius: 20px;
    padding: 20px;
    font-size: 25px;
    line-height: 1.5;
  }
  .why h1 {
    text-align: center;
  }
  #list{
    list-style: ol;
    text-align: start;
    margin-left: 4%;

  }
  /* Media Queries */
@media screen and (max-width:1150px){
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
/* ****************************************ADDED WHY*********************************************************************************** */
  @media screen and (max-width: 768px) {
    .why{
      
        margin-top: 80px; /* Adjust the margin to create space for the navbar */
        padding-top: 20px; /* Add padding to the top of the content for spacing */
      }
    .about p {
      font-size: 24px;
    }
    .about button {
      font-size: 16px;
    }
    .tinylife_Image img {
      width: 100%;
      margin-left: 0;
    }
    .team-content {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 20%;
    }
  }
  @media screen and (max-width: 480px) {
    .home-content h1 {
      font-size: 30px;
      width: 80%;
      margin-left: 10%;
    }
    .why {
      font-size: 20px;
    }
  }